{% extends 'base/page.html' %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/dataTables.bootstrap.css" %}" media="screen">
{% endblock %}

{% block page_title %}Gambit - View games{% endblock %}

{% block content %}
<div class="col-lg-12">

<h1>Game Repository</h1>

{% if users_jobs %}
<h3>Import Jobs</h3>

<p>It can take some time to import games from Chess.com. Please be patient while
the games are loading. If you feel it has taken far too much time, please file a
bug.</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Games Processed</th>
    </tr>
  </thead>
  <tbody>
    {% for job in users_jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.games_processed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          My Chess.com Games
        </a>
      </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table id="chesscom-table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>White</th>
              <th>White ELO</th>
              <th>Black</th>
              <th>Black ELO</th>
              <th>Result</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if chesscom_games %}
            {% for game in chesscom_games %}
            <tr>
              <td>{{ game.date_played }}</td>
              <td>{{ game.white_name }}</td>
              <td>{{ game.white_rating }}</td>
              <td>{{ game.black_name }}</td>
              <td>{{ game.black_rating }}</td>
              <td>{{ game.game_result }}</td>
              <td><a href="#">Details</a></td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          My Other Games
        </a>
      </h2>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <table id="users-table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>White</th>
              <th>White ELO</th>
              <th>Black</th>
              <th>Black ELO</th>
              <th>Result</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if users_games %}
            {% for game in users_games %}
            <tr>
              <td>{{ game.date_played }}</td>
              <td>{{ game.white_name }}</td>
              <td>{{ game.white_rating }}</td>
              <td>{{ game.black_name }}</td>
              <td>{{ game.black_rating }}</td>
              <td>{{ game.game_result }}</td>
              <td><a href="#">Details</a></td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Other Players' Games
        </a>
      </h2>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table id="other-table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>White</th>
              <th>White ELO</th>
              <th>Black</th>
              <th>Black ELO</th>
              <th>Result</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if other_games %}
            {% for game in other_games %}
            <tr>
              <td>{{ game.date_played }}</td>
              <td>{{ game.white_name }}</td>
              <td>{{ game.white_rating }}</td>
              <td>{{ game.black_name }}</td>
              <td>{{ game.black_rating }}</td>
              <td>{{ game.game_result }}</td>
              <td><a href="#">Details</a></td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#chesscom-table').dataTable({"order": [[0, "desc"]]});
    } );
    $(document).ready(function() {
        $('#users-table').dataTable({"order": [[0, "desc"]]});
    } );
    $(document).ready(function() {
        $('#other-table').dataTable({"order": [[0, "desc"]]});
    } );
</script>
{% endblock%}
