{% extends 'base/page.html' %}
{% block page_title %}Gambit - A chess analysis tool{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Gambit</h1>
  <p>A lightweight, powerful repository and analysis tool for your chess games.</p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3>Import</h3>
    <p>Supply your <a href="http://chess.com">Chess.com</a> username and import
    all your games.</p>
  </div>

  <div class="col-lg-4">
    <h3>Track</h3>
    <p>Watch your skill level improve over time and identify plateaus in your
    game.</p>
  </div>

  <div class="col-lg-4">
    <h3>Analyze</h3>
    <p>Use deep computer analysis to signal weaknesses in your game.</p>
  </div>
</div>
{% endblock %}
